@{
    ViewData["Title"] = "Login";
}
<h1>Login page</h1>

<form method="post" asp-controller="Home" asp-action="Login">
    <p>
        <label>user name:</label><input type="text" name="login"><br>
        <label>password:</label><input type="password" name="password"><br>
        <button type="submit" name="returnUrl" value="@ViewBag.returnUrl">Login</button><br>
        @ViewBag.returnError
    </p>
</form>