@{
    ViewData["Title"] = "Secrets";
}

<h1>Restricted page</h1>

<p>
<h4>Welcome @((User.Identity == null) ? "" : User.Identity.Name)</h4>
<p>If you are here it means you are authorized.</p>
<p></p>
<ul>
    @foreach (var c in User.Claims)
        {
        <li>@c.Type: @c.Value</li>
        }
</ul>
</p>