@{
    ViewData["Title"] = "Secrets";
}

<div class="text-center">
    <h2 class="display-4">Restricted page</h2>
    <h4>Welcome @((User.Identity == null) ? "" : User.Identity.Name)</h4>
    <p>If you are here it means you are authorized.</p>
    <ul>
        @foreach (var c in User.Claims)
        {
            <li>@c.Type: @c.Value</li>
        }
    </ul>
</div>
